<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Book</h1>
<table th:object="${book}">
    <tr>
        <td>Id</td>
        <td th:text="*{book_id}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="*{bookName}"></td>
    </tr>
    <tr>
        <td>Author</td>
        <td th:text="*{author}"></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td th:text="*{quantity}"></td>
    </tr>
    <tr>
        <td>
            <a href=""><button>back</button></a>
        </td>
        <td>
            <a th:href="@{/doMuonSach(id=*{book_id})}"><button>Muon Sach</button></a>
        </td>
    </tr>
</table>
</body>
</html>