<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Muon Sach</h1>
<form th:action="@{/doMuonSach}" method="post" th:object="${book}">
<table>
<tr>
  <td>ID</td>
  <td>
    <input name="book_id" type="number" th:value="*{book_id}" readonly>
  </td>
</tr>
  <tr>
    <td>Name user</td>
     <td>
    <input name="user_id" type="number">
  </td>
  </tr>
  <tr>
    <td><input type="reset" value="Reset"></td>
    <td><input type="submit" value="Borrow"></td>
  </tr>
</table>
</form>
</body>
</html>