<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 style="color: red">List Product</h1>
<a href="/create">
    <button class="btn btn-primary">Create</button>
</a>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>StartPrice</th>
        <th>Status</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    <tr th:each="p:${products}" th:object="${p}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{startPrice}"></td>
        <td th:text="*{status}"></td>
        <td th:text="*{category.categoryName}"></td>
        <td>
            <a th:href="@{/delete(id=*{id})}">
                <button class="btn btn-danger">Delete</button>
            </a>
        </td>
    </tr>
</table>
<a th:if="${products.hasPrevious()}" th:href="@{?page=__${products.number-1}__}">Previous</a>
<span th:text="${products.number+1}"></span>
<span>...</span>
<span th:text="${products.totalPages}"></span>
<a th:if="${products.hasNext()}" th:href="@{?page=__${products.number+1}__}">Next</a>
</body>
</html>