<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: red">Blog List</h1>

  <a href="/blogs/create"><button>Create new blog</button></a>
  <br>
  <br>
  <form action="/blogs/search">
    <input type="text" name="author">
    <input type="submit">
  </form>

<table>
  <tr>
    <td>Id</td>
    <td>Author</td>
    <td>Hastag</td>
    <td>Category</td>
    <td>Header</td>
    <td>Action1</td>
    <td>Action2</td>
    <td>Action3</td>
  </tr>
  <tr th:each="b:${Blogs}" th:object="${b}">
    <td th:text="*{id}"></td>
    <td th:text="*{author}"></td>
    <td th:text="*{hastag}"></td>
    <td th:text="*{category.categoryName}"></td>
    <td th:text="*{header}"></td>
    <td><a th:href="@{/blogs/detail(id=*{id})}"><button>Detail</button></a></td>
    <td><a th:href="@{/blogs/delete(id=*{id})}"><button>Delete</button></a></td>
    <td><a th:href="@{/blogs/update(id=*{id})}"><button>Update</button></a></td>
  </tr>
</table>
<div>
<a th:if="${Blogs.hasPrevious()}" th:href="@{/blogs(page=${Blogs.number-1})}">Previous</a>
<span th:text="${Blogs.number+1}"></span>
<span th:text="${Blogs.totalPages}"></span>
  <a th:if="${Blogs.hasNext()}" th:href="@{/blogs(page=${Blogs.number+1})}">Next</a>
</div>
</body>
</html>