<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>THE PHOTO OF THE DAY</h1>
<img src="https://static.lag.vn/upload/news/23/04/22/honkai-star-rail-kafka-1_BSCG.jpg?w=800&encoder=wic&subsampling=444">
<table>
    <tr>
        <td>
            <input type="hidden" id="likeCount" value='0'>
            <button type="button" onclick="likeFunction()" id="btnLike">Like <span id="resultLike"></span></button>
        </td>
        <!--        <input type="hidden" id="likeCount">-->
        <td>
            <input type="hidden" id="dislikeCount" value='0'>
            <button type="button" onclick="disLikeFunction()" id="btnDislike">Dislike <span id="resultDisLike"></span></button>
        </td>
    </tr>
</table>
<form th:action="@{/Picture/create}" method="post" th:object="${picture}">
<table>
    <tr>
        <td>Id</td>
        <td><input type="text" th:field="*{id}"></td>
    </tr>
<tr>
<td>Author</td>
<td><input type="text" th:field="*{nameAuthor}"></td>
</tr>
    <tr>
        <td>Comment</td>
        <td><textarea  cols="30" rows="10" th:field="*{comment}"></textarea></td>

    <tr>
        <td>Point</td>
        <td><input type="text" th:field="*{diem}"></td>
    </tr>
    <tr>
        <td><input type="reset" value="Reset"></td>
        <td><input type="submit" value="Comment"></td>
    </tr>
<!--    <tr hidden>-->
<!--        <td >Like</td>-->
<!--        <td><input type="text" th:field="*{soLuongLike} "></td>-->
<!--    </tr>-->
</table>
</form>
<br>
<table th:each="p:${picList}" th:object="${p}">
    <tr th:text="*{diem}">
    </tr>
    <!--<td th:text="*{id}"></td>-->
    <tr th:text="*{comment}"></tr>
    <!--<td th:text="*{soLuongLike}"></td>-->

    <tr>
        <td>==========================================</td>
    </tr>
</table>
<script>
    function likeFunction() {
        likeCount.value = Number.parseInt(likeCount.value) +1;
        resultLike.innerHTML = likeCount.value;
    }

    function disLikeFunction() {
        dislikeCount.value = Number.parseInt(dislikeCount.value) +1;
        resultDisLike.innerHTML = dislikeCount.value;
    }
</script>

</body>
</html>