<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail product</title>
</head>
<body>
    <table th:object="${blog}">
        <tr>
            <td>ID:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name Of Author:</td>
            <td th:text="*{nameAuthor}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="*{content}"></td>
        </tr>
        <tr>
            <td>Hagstag:</td>
            <td th:text="*{hagstag}"></td>
        </tr>
        <tr>
            <td>Date release:</td>
            <td th:text="${#dates.format(blog.date, 'dd/MM/yyyy')}"></td>
        </tr>
    </table>
    <a th:text="|Back to list|" th:href="@{/blog/list}"></a>
</body>
</html>