.title1{
    color: #87aa74;
    text-align: center;
    margin-top: 20px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.btndelete{
    text-align: right;
    padding: 10px;
}
.btnmember{
    text-align: left;
}
#inputsearch{
    align-content: center;
}
table {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-collapse: collapse;

}
table, th, td {
    border: 1px solid rgba(131,131,131,0.24);
}

table thead th{
    height: 50px;
}
thead{
    background-color: #87aa74;
}
.justify-content-end{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    width: auto;
    height: 100%;
    text-align: center;
}
.no-border {
    border-left: none;
    border-right: none;
}
.container{
    align-content: center;
}
#pagination{
    margin-top: 20px;


}
