<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
    <h1>Create new product</h1>
    <form th:action="@{/blog/create}" method="post" th:object="${Blog}">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>Name Of Author</td>
                <td><input type="text" th:field="*{nameAuthor}" /></td>
            </tr>
            <td>Category</td>
            <td>
                <select th:field="*{category.categoryId}">
                    <option th:each="c: ${categories}" th:value="${c.categoryId}"
                            th:text="${c.categoryName}"></option>
                </select>
            </td>
            <tr>
                <td>Content</td>
                <td><input type="text" th:field="*{content}" /></td>
            </tr>
            <tr>
                <td>hagstag</td>
                <td><input type="text" th:field="*{hagstag}" /></td>
            </tr>
            <tr>
                <td>Date release</td>
                <td><input type="text" th:field="*{date}" placeholder="dd/MM/yyyy" /></td>
            </tr>

            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>
</html>