<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
    <form th:action="@{/blog/search}" method="get" >
        Name: <input type="text" name="name" th:value="${name != null ? name: ''}">
       <input type="submit" value="Search">
    </form>
    <a th:href="@{/blog/sort}">Sort</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name Of Author</th>
            <th>Category</th>
            <th>Content</th>
            <th>HagTag</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        <tr th:each="b: ${Blogs}" th:object="${b}">
            <td th:text="*{id}"></td>
            <td th:text="*{nameAuthor}"></td>
            <td th:text="*{category.categoryName}"></td>
            <td th:text="*{content}"></td>
            <td th:text="*{hagstag}"></td>
            <td th:text="*{#dates.format(date, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{/blog/detail(id=*{id})}">Detail</a>
                <a th:href="@{/blog/update(id=*{id})}">Update</a>
            </td>
        </tr>
    </table>
</body>
</html>