<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Singer</th>
            <th>Type</th>
            <th>SongURL</th>
            <th>Action</th>
        </tr>
        <tr th:each="p: ${songs}" th:object="${p}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{singer}"></td>
            <td th:text="*{type}"></td>
            <td th:text="*{songUrl}"></td>
            <td>
                <a th:href="@{/product/detail/{id}(id=*{id})}">Detail</a>
                <a th:href="@{/product/update(id=*{id})}">Update</a>
            </td>
        </tr>
    </table>
</body>
</html>