<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create product</title>
</head>
<body>
<h1>Create new product</h1>
<form th:action = "@{/forms}" method="post" th:object="${form}">
  <table>
    <tr>
      <td>ID</td>
      <td>
        <input type="text" th:field="*{id}" />
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        <input type="text" th:field="*{firstName}" />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <input type="text" th:field="*{lastName}" />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        <input type="text" th:field="*{age}" />
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>

      </td>
    </tr>
    <tr>
      <td>Sdt</td>
      <td>
        <input type="text" th:field="*{sdt}" />
        <span th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}"></span>
      </td>
    </tr>

    <tr>
      <td>Mail</td>
      <td>
        <input type="text" th:field="*{mail}" />
        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
      </td>
    </tr>
    <tr>
      <td><input type="reset" value="Reset"></td>
      <td><input type="submit" value="Register"></td>
    </tr>
  </table>
</form>
</body>
</html>