<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: red">List Form</h1>
<table>
  <a href="/forms/create"><button>Create</button></a>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Sdt</th>
    <th>Age</th>
    <th>Mail</th>
  </tr>
  <tr th:each="f:${forms}" th:object="${f}">
    <td th:text="*{id}"></td>
    <td th:text="*{firstName}"></td>
    <td th:text="*{lastName}"></td>
    <td th:text="*{sdt}"></td>
    <td th:text="*{age}"></td>
    <td th:text="*{mail}"></td>
  </tr>
</table>
</body>
</html>