<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!--<h1 style="color: red">Danh Sach San Bong</h1>-->
<a href="/create">
    <button class="btn btn-primary">Create</button>
</a>
<!--<form th:action="@{/searchName}" method="get">-->
<!--  <span style="color: red">Name</span>-->
<!--  <input type="text" name="name" th:value="${name !=null? name: ''}">-->
<!--  <button type="submit" class="btn btn-primary">Tim Kiem</button>-->
<!--</form>-->
<!--<br>-->
<!--<form th:action="@{/searchKhuVuc}" method="get" >-->
<!--    <span style="color: red">Khu Vuc</span>:   <select name="id_khu_vuc">-->
<!--    <option th:each="k: ${listKhuVuc}" th:value="${k.idKhuVuc}"-->
<!--            th:text="${k.ten_khu_vuc}"></option>-->
<!--</select>-->
<!--    <input type="submit" value="Search3">-->
<!--</form>-->
<!--<br>-->
<!--<form th:action="@{/searchLoaiSan}" method="get" >-->
<!--  <span style="color: red">Loai San</span>:   <select name="id_loai_san">-->
<!--  <option th:each="l:${listSan}" th:value="${l.idLoaiSan}"-->
<!--          th:text="${l.nameLoaiSan}"></option>-->
<!--</select>-->
<!--  <input type="submit" value="Search4">-->
<!--</form>-->
<br>
<form th:action="@{/findByAll}" method="get">
    <span style="color: red">Name</span>
    <input type="text" name="name">
    <span style="color: red">Khu Vuc</span>: <select name="id_khu_vuc">
    <option value="">---</option>
    <option th:each="k: ${listKhuVuc}" th:value="${k.idKhuVuc}"
            th:text="${k.ten_khu_vuc}"></option>
</select>
    <span style="color: red">Loai San</span>: <select name="id_loai_san">
    <option value="">----</option>
    <option th:each="l:${listSan}" th:value="${l.idLoaiSan}"
            th:text="${l.nameLoaiSan}"></option>
    <input type="submit" value="Search4">
</select>
</form>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Ten</th>
        <th>Dia chi</th>
        <th>Khu Vuc</th>
        <th>Loai San</th>
        <th>Khung Gio</th>
        <th>Action</th>
    </tr>
    <tr th:each="s:${sanBongList}" th:object="${s}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{diaChi}"></td>
        <td th:text="*{khuVuc.getTen_khu_vuc()}"></td>
        <td th:text="*{loaiSan.nameLoaiSan}"></td>
        <td th:text="*{khungGioChoThue.getKhung_gio()}"></td>
        <td>
            <a th:href="@{/detail(id=*{id})}">
                <button class="btn btn-primary">Detail</button>
            </a>
            <a th:href="@{/delete(id=*{id})}">
                <button class="btn btn-danger">delete</button>
            </a>
        </td>
    </tr>
</table>
<a th:if="${sanBongList.hasPrevious()}" th:href="@{?page=__${sanBongList.number-1}__}">Previous</a>
<span th:text="${sanBongList.number+1}"></span>
<span>...</span>
<span th:text="${sanBongList.totalPages}"></span>
<a th:if="${sanBongList.hasNext()}" th:href="@{?page=__${sanBongList.number+1}__}">Next</a>
</body>
</html>